@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-checkbox .ant-checkbox-inner {
    border-radius: 9999px;
    border-color: black;
}

.custom-checkbox .ant-checkbox-inner::after {
    border-radius: 9999px;
    border-color: black;
}

.select-black-border .ant-select-selector {
    border: 1px solid black !important;
}

.input-black-border .ant-input {
    border: 1px solid black !important;
}