@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-checkbox .ant-checkbox-inner {
    border-radius: 9999px;
    border-color: black;
}

.custom-checkbox .ant-checkbox-inner::after {
    border-radius: 9999px;
    border-color: black;
}